<% if job['healthReport'] && job['healthReport'].length != 0 %>
  <li>
    <h4>Health</h4>
    <span>
    <% job['healthReport'].each do |health| %>
      <%= health['description'] %> | Score of <%= health['score'] %>
    <% end %>
    </span>
  </li>
<% end %>