<% if job['lastCompletedBuild'] %>
  <li>
    <h4>Last Complete</h4>
    <span>
    <a href="<%= job['lastCompletedBuild']["url"] %>"><%= job['lastCompletedBuild']["number"] %></a>
    </span>
  </li>
<% end %>