<% if job['color'] == "blue" %>
  <% require 'net/http'; require 'uri' %>
  <% res = Net::HTTP.get URI.parse("#{job['hudson_host']}/job/#{URI.escape(job['name'])}/#{job['lastCompletedBuild']["number"]}/changes") %>
  <% if res.to_s.match(/by \<a href="\/user\/([^\/]*)\//) != nil %>
    <li>
      <h4>Last commit by:</h4>
      <span><%= res.to_s.match(/by \<a href="\/user\/([^\/]*)\//)[1] %></span>
    </li>
  <% end %>
<% end %>