<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">Hudson Global Dashboard Admin</h2>
    <div class="inner">
      <p>To add servers running Hudson, click on the Buildservers tab above. There you can add the IP addresses or local hostnames for the builds you are running.</p>
      <p>The Hudson Global Dashboard will find all the builds your Hudson instances are running, and display every build it can.</p>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>