/* Hudson Global Dashboard - created by Mark Cipolla */

/* Nav
--------------------------------------------------------------------- */
nav {
  position: absolute;
  right: 10px;
  top: 0px;
  background-color: white;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-radius-bottomleft: 10px;
  -webkit-border-radius-bottomright: 10px;
  font-family: MuseoSlab, Helvetica, “Helvetica Neue”, Arial, sans-serif;
}

nav h1 {
  margin: 0;
}

nav a {
  font-size: 16px;
  padding: 10px;
  font-weight: normal;
  display: block;
}

nav a:link,
nav a:visited,
nav a:active {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}