body {  
  padding: 50px 0 0 0;  
  margin: 0;
  font: 13px/22px Helvetica, Arial, sans-serif;  
  background: url(background.png) repeat top left;  
}  
  
/* Tell the browser to render HTML 5 elements as block */  
section, header, footer, aside, nav, article {  
  display: block;  
}  
  
#buildStatuses {  
  margin: 0 auto;  
  color: #FFFFFF;
  font-family:'Lucida Grande',Helvetica,Arial,sans-serif;
  margin: 0 auto;
  width: 1114px;
}

#buildStatuses:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.buildFailed a:link,
.buildFailed a:visited,
.buildFailed a:active,
.buildFailed {
  color: red;
}

article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  float: left;
  height: 90px;
  padding: 10px 10px 10px 10px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 2px 4px #000000;
  background: transparent url(airport-board-background-bottom.png) repeat scroll left bottom;
  border: 1px solid #353A3B;
  margin-bottom: 20px;
}

article.build {
  width: 480px;
}

article.buildStats {
  width: 580px;
  margin-left: 10px;
  padding-top: 0;
  height: 100px;
}

h2.title {
  background: url(airport-display-background-right.png) right top no-repeat;
  display: block;
  height: 38px;
  margin: 0 0 0 10px;
  padding: 0;
  overflow: hidden;
  width: 380px;
  float: left;
}

h2.title a {
  background: url(airport-display-background-left.png) left top no-repeat;
  color: #fff;
  text-decoration: none; 
  display: block;
  height: 30px;
  margin: 0;
  padding: 8px 0 0 10px; 
}

h3.blameGame {
  display: block;
  float: left;
  font-size: 120%;
  margin: 8px 0 0 20px;
  overflow: hidden;
  width: 370px;
}

.status {
  width: 90px;
  height: 90px;
  float: left;
}

.status h3 {
  margin: 0;
  padding: 0;
  text-indent: -10000px;
  height: 90px;
  width: 90px;
  display: block;
}

.red {
  background-color: red;
}

/* Either when a test previously passed (blue) or failed (red),
   the colour changes to show a test has begun */
.blue_anime,
.red_anime {
  background-color: blue;
}

/* Blue in Japan means green. Obviously. Thanks Chef! */
.blue {
  background-color: green;
}

.status h3 {
  background: url(status.png) no-repeat top left;
}

dl {
  font-size: 10px;
}

a:link, a:visited, a:active {
  color: #fff;
  text-decoration: none;  
}

a:hover {
  color: #777777;
  text-decoration: underline;
}

dl dt {
  color: #777777;
  display: block;
  font-weight: bold;
  text-align: right;
  text-shadow: 0 -1px 0 #000000;
  text-transform: uppercase;
  width: 90px;
  float: left;
  margin: 0;
}

dl dd {
  color: #fff;
  font-size: 10px;
  text-shadow: 0 -1px 0 #000000;
  float: left;
  margin: 0;
  padding-left: 20px;
  width: 90px;
}

dl dd.description,
dl dd.health {
  width: 470px;
}